hosts = # comma-delimited list of host strings for remote tasks
REDMINE_URL =
REDMINE_API_KEY =
REDMINE_DEVELOPER_ROLE_ID = 4  # Default role to assign users in project
REDMINE_DEFAULT_QUERY = 69
GITLAB_URL =
GITLAB_TOKEN =
JENKINS_URL =
JENKINS_LOGIN = {user}
JENKINS_PASSWORD =
JENKINS_TEMPLATE_JOB = example-tests
TEMPLATE_PROJECT_REPO = https://github.com/futurecolors/tinned-django  # Git repo of project template
TEMPLATE_PROJECT_PACKAGE = tinned_django  # Package to use inside TEMPLATE_PROJECT_REPO
PROJECTS_PATH_TEMPLATE = /home/%(user)s/src/  # Where to store developers' projects
ENVS_PATH_TEMPLATE = /home/%(user)s/envs/  # Virtualenvs live here
DEVELOPERS_USERGROUP = fcolors # Unix group
