REDMINE_URL =
REDMINE_API_KEY =
GITLAB_URL =
GITLAB_TOKEN =
JENKINS_URL =
JENKINS_LOGIN = {user}
JENKINS_PASSWORD =
JENKINS_TEMPLATE_JOB = example-tests
TEMPLATE_PROJECT_REPO = https://github.com/futurecolors/tinned-django # Git repo of project template
TEMPLATE_PROJECT_PACKAGE = tinned_django # Package to use inside TEMPLATE_PROJECT_REPO
PROJECTS_PATH_TEMPLATE = /home/%(user)s/projects/ # Where to store developers' projects
