[uwsgi]
include = ../vassal_defaults.ini
project_name = {{ PROJECT_NAME }}
user = {{ USER }}
server_name = {{ SERVER_NAME }}
project_home = {{ PROJECT_PATH }}
env_home = {{ PATH_TO_VIRTUALENV }}

module = {{ PROJECT_NAME }}.wsgi:application
env = DJANGO_SETTINGS_MODULE={{ PROJECT_NAME }}.settings
env = DJANGO_CONFIGURATION=Live
env = USER={{ USER }}
